## .NET
bin/
obj/
*.user
*.suo
.vs/
*.vspscc
*.vssscc

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## User secrets
secrets.json

## Logs
*.log
